.song-sheet-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // padding: 0 0.25rem;
  .song-sheet-cover {
    width: 2.8rem;
    height: 2.8rem;
    background-color: #f5d3d3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.18rem;
    overflow: hidden;
    position: relative;
    .cover-img {
      width: 100%;
      height: 100%;
    }
    .cover-count {
      position: absolute;
      right: 0.1rem;
      top: 0.1rem;
      padding: 0.05rem 0.1rem;
      background-color: #808080a9;
      border-radius: 1rem;
      font-size: 0.24rem;
      color: #fff;
      .iconfont {
        font-size: 0.24rem;
      }
    }
  }
  .song-sheet-desc {
    font-size: 0.3rem;
    height: 0.85rem;
    overflow: hidden;
    text-align: left;
    width: 2.8rem;
    word-break: break-all;
  }
}
