@import "@/assets/css/common.scss";
.sheetsquare {
  display: flex;
  flex-direction: column;
  height: 100%;
  // width: 100%;
  // top: 0;
  // right: 0;
  // position: fixed;
  // position: relative;
  // z-index: 1;
  &-head {
    // position: sticky;
    // top: 0;
    @include background_color("background_color");
    @include font_color("text-color");
    z-index: 1;
    &-slidernav {
      padding: 0 0.25rem;
      display: flex;
      align-items: baseline;
      .slidernav-category {
        font-size: 0.5rem;
        padding-left: 0.25rem;

        .icon-fenlei {
          vertical-align: middle;
          font-size: 0.5rem;
        }
      }
    }
  }
  &-body {
    padding: 0 0.25rem;
    // overflow-y: auto;
    overflow: hidden;
    flex: 1;
    &-track {
      height: 100%;
      overflow: hidden;
    }
    &-slider {
      height: 100%;
      overflow: hidden;
    }
  }
}
