.toast {
  background: #333333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: pre-wrap;
  text-align: center;
  word-break: break-all;
  box-sizing: content-box;
  border-radius: 0.25rem;
  max-width: 100%;
  padding: 0.5rem;
  position: relative;
  &-message {
    font-size: 0.32rem;
    padding-top: 0.25rem;
  }
  &-icon {
    font-size: 0.6rem;
  }
  &-icon-loading {
    // position: absolute;
    transform-origin: center;
    animation: rotate 3s infinite linear;
  }
}
.toast-text {
  padding: 0 1rem;
  .toast-message {
    padding: 0.25rem 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
