.pop {
  position: fixed;
  max-height: 100%;
  overflow-y: auto;
  background-color: #fff;
  // transition: all .3s ease-in-out;
  // transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-overflow-sc-webkit-overflow-scrolling: touch;
  .pop-container {
    position: relative;
    background: #fff;
    // box-shadow: 0 1px 3px #0000004d;
    // box-sizing: border-box;
    // overflow-y: auto;
    // padding: 0.2rem;
    .pop-head {
      position: sticky;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      background: #fff;
      padding: 0.2rem;
      font-size: 0.4rem;
      .pop-title {
        font-size: 0.48rem;
        color: #303133;
        font-weight: 400;
      }
    }
    .pop-body {
      font-size: 0.36rem;
      padding: 0.2rem 0.3rem;
      // overflow-y: auto;
    }
  }
}

.pop-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.pop-top {
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.pop-left {
  top: 0;
  left: 0;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.pop-right {
  top: 0;
  right: 0;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

@keyframes bottom-out {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes bottom-in {
  0% {
    transform: translate(100);
  }
  100% {
    transform: translateY(0);
  }
}
