.pop {
  position: fixed;
  max-height: 100%;
  overflow-y: auto;
  background-color: #fff;

  // transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-overflow-sc-webkit-overflow-scrolling: touch;
}

.pop-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  transition: width 0.3s ease-in-out;
}
.pop-left {
  top: 0;
  left: 0;
  height: 100vh;
  transition: width 0.3s ease-in-out;
}

@keyframes bottom-out {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes bottom-in {
  0% {
    transform: translate(100);
  }
  100% {
    transform: translateY(0);
  }
}
