.searchpage {
  position: fixed;
  // top: 0;
  // left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  height: 100%;
  width: 100%;
  z-index: 100;
  padding: 0.25rem;
  padding-bottom: constant(safe-area-inset-bottom); ///兼容 IOS<11.2/
  padding-bottom: env(safe-area-inset-bottom); ///兼容 IOS>11.2/
  // opacity: 1;
  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.25rem;
    font-size: 0.32rem;
    &-box {
      flex: 1;
      height: 0.8rem;
      position: relative;
      .icon-sousuo {
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
        vertical-align: middle;
        color: #909399;
        font-size: 0.36rem;
      }
      .icon-shanchu2 {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        vertical-align: middle;
        color: #909399;
        font-size: 0.36rem;
      }
    }
    &-input {
      width: 100%;
      height: 100%;
      background: #f1f1f1;
      border: none;
      border-radius: 99rem;
      padding: 0.2rem 0.7rem;
      font-size: 0.34rem;
      &:focus {
        border: none;
        border-color: red;
        outline: none;
      }
    }
    &-cancel {
      font-size: 0.42rem;
      padding-left: 0.25rem;
      font-weight: 600;
    }
  }
  &-body {
    overflow-y: auto;
    height: calc(100% - 2.5rem);
    font-size: 0.36rem;
    &-history {
      display: flex;
      align-items: center;
      padding: 0.25rem 0;
      .history-title {
        font-size: 0.36rem;
        font-weight: 600;
        margin-right: 0.2rem;
      }
      .history-body {
        flex: 1;
        font-size: 0.32rem;
        display: flex;
        overflow-x: scroll;
        white-space: nowrap;
        &-card {
          margin: 0 0.2rem;
          padding: 0.2rem 0.3rem;
          background-color: #f1f1f1;
          border-radius: 999rem;
        }
        &::-webkit-scrollbar {
          height: 0 !important;
          width: 0 !important;
        }
      }
    }
    &-research {
      display: flex;
      align-items: center;
      .research-title {
        font-size: 0.32rem;
        color: #909399;
      }
      .research-body {
        flex: 1;
        font-size: 0.32rem;
        display: flex;
        overflow-x: scroll;
        white-space: nowrap;
        &-card {
          color: #409eff;
          margin: 0 0.2rem;
        }
        &::-webkit-scrollbar {
          height: 0 !important;
          width: 0 !important;
        }
      }
    }
    &-hotlist {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      border-top: 1px solid #f2f6fc;
      .hot-card {
        width: 50%;
        padding: 0.15rem 0;
        display: flex;
        align-items: center;
        &-index {
          width: 0.5rem;
          display: inline-block;
          font-size: 0.36rem;
          font-weight: 600;
          color: #909399;
        }
        &-name {
          display: inline-block;
          font-size: 0.36rem;
        }
        &:nth-child(-n + 3) {
          .hot-card-index {
            color: red;
          }
          .hot-card-name {
            font-weight: 600;
          }
        }
        &-tag {
          zoom: 0.3;
          margin-left: 0.2rem;
          vertical-align: middle;
          image-rendering: -moz-crisp-edges;
          image-rendering: -o-crisp-edges;
          image-rendering: -webkit-optimize-contrast;
          image-rendering: crisp-edges;
          -ms-interpolation-mode: nearest-neighbor;
        }
      }
    }
    &-musicarea {
      margin-top: 0.3rem;
      .musicarea-title {
        font-size: 0.36rem;
        font-weight: 600;
      }
      .musicarea-body {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        // justify-content: space-around;
        &-card {
          width: 48%;
          color: #fff;
          background-color: #000;
          overflow: hidden;
          margin: 0.15rem auto;
          border-radius: 0.2rem;
          &-head {
            padding: 0.2rem 0.3rem 0.4rem 0.3rem;
            font-size: 0.46rem;
            font-weight: 500;
            display: flex;
            &-title {
              flex: 1;
            }
            &-icon {
              color: #fff;
            }
          }
          &-bottom {
            padding: 0.1rem 0.3rem 0.1rem 0.3rem;
            font-size: 0.32rem;
            width: 100%;
            background: #7573732e;
            color: #f4f4f5;
            opacity: 0.5;
          }
        }
      }
    }
    &-activity {
      margin-top: 0.3rem;
      .activity-title {
        font-size: 0.36rem;
        font-weight: 600;
      }
      .activity-body {
        &-card {
          padding: 0.1rem 0;
          display: flex;
          align-items: center;
          &-cover {
            width: 1rem;
            height: 1rem;
            border-radius: 0.2rem;
            margin-right: 0.3rem;
          }
          &-title {
            flex: 1;
            font-size: 0.38rem;
            padding: 0.35rem 0;
            letter-spacing: 0.026667rem;
            border-bottom: 1px solid #ebeef5;
            line-height: 0.35rem;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
      }
    }
  }
}

.searchpage-fade-enter-active,
.searchpage-fade-leave-active {
  transition: all 0.3s ease-in-out;
}

.searchpage-fade-enter-from,
.searchpage-fade-leave-active {
  opacity: 0;
}
