.dialog-box {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  margin: 0;
  z-index: 999;
  .dialog {
    position: relative;
    margin: 0 auto 1rem;
    background: #fff;
    border-radius: 0.2rem;
    box-shadow: 0 1px 3px #0000004d;
    box-sizing: border-box;
    width: 50%;
    padding: 0.2rem;
    z-index: 2;
    // transform: translate3d(-50%, -50%, 0);
    .dialog-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      padding-bottom: 0.3rem;
      font-size: 0.4rem;
      .dialog-title {
        font-size: 0.48rem;
        color: #303133;
        font-weight: 400;
      }
    }
    .dialog-body {
      font-size: 0.36rem;
      padding-top: 0.2rem;
    }
  }
}

.dialog-fade {
  &-enter-active {
    animation: 0.3s dialog-fade-in both ease-out;
  }

  &-leave-active {
    animation: 0.3s dialog-fade-out both ease-in;
  }
}

// .dialog-fade-enter-from {
//   transform: translate3d(-50%, -50%, 0) scale(0.7);
//   opacity: 0;
// }

// .dialog-fade-leave-active {
//   transform: translate3d(-50%, -50%, 0) scale(0.9);
//   opacity: 0;
// }
@keyframes dialog-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes dialog-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
