@import "@/assets/css/variable.scss";
//--test ：为js操作此变量需要用到的KEY
//red: 默认的css属性值

.top-nav {
  display: flex;
  padding: $all-box-padding;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  overflow: hidden;
  transition: background-image 0.4s;
  background: no-repeat center center / cover;
  .top-left {
    // flex: 2;
    font-size: 0.5rem;
    .iconfont {
      font-size: 0.5rem;
    }
  }
  .top-center {
    // flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.43rem;
    // padding: 0.1rem 0;
    .nav-title {
      color: #909399;
      margin: 0 0.2rem;
    }
    .active {
      color: #000;
      font-size: 0.48rem;
      font-weight: 600;
    }
  }
  .top-right {
    // flex: 2;
    // text-align: right;
    font-size: 0.5rem;
    .iconfont {
      font-size: 0.5rem;
    }
    .icon-sousuo {
      font-size: 0.5rem;
    }
  }
}

// .nav-fixed {
//   background-color: #000;
// }
